.grid-container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
        'header header header'
        'timer title title'
        'word text text'
        'chara text text'
        'goal text text'
        'footer footer footer';
    background-color: #2196F3;
    padding: 10px;
    
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }

.timer { 
    grid-area: timer; 
    
}
.title { 
    grid-area: title;   
}
.infoTitle {
    font-size: 50px;
}
.word { 
    grid-area: word; 
    font-size: 50px;
}
.chara { 
    grid-area: chara; 
    font-size: 50px;
}
.text { 
    grid-area: text; 
}
.goal { 
    grid-area: goal; 
}
.header { 
    grid-area: header;
    font-weight: bold;
}
.footer { 
    grid-area: footer;
    font-weight: lighter;
    font-size: 12px;
}

/*Stopwatch design taken from https://github.com/JamieMcGibbon/TechnicalCafe/blob/master/Misc%20Tutorials/Stopwatch%20Tutorial/index.html*/
.timer{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
}