.grid-container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
        'header header header'
        'timer title title'
        'word text text'
        'chara text text'
        'goal text text'
        'footer footer footer';
    background-color: #2196F3;
    padding: 10px;
    
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.timer { grid-area: timer; }
.title { grid-area: title; }
.word { grid-area: word; }
.chara { grid-area: chara; }
.text { grid-area: text; }
.goal { grid-area: goal; }
.header { 
    grid-area: header;
    font-weight: bold;
}
.footer { 
    grid-area: footer;
    font-weight: lighter;
    font-size: 750px;
}

